{% extends 'adventure/generic.html.twig' %}

{% block title %}Laundry Master{% endblock %}

{% block body %}
  
{% include 'adventure/navbar.html.twig' %}

{% include 'flash.html.twig' %}

    <section class="two-columns-adventure">
        <article class="left">
             <p>
                {{ room.getInfo() }}
            </p>

            {% if room.getName() == 'Grovkök'%}

            <p>
                Du har {{ player.getLaundryCount() }} smutsiga plagg i tvättkorgen.
            </p>
                {% if player.getLaundryCount() < 15 %}

                Du kan starta tvättmaskinen först när du har 15 plagg. Leta vidare och kom tillbaka!

                {% else %}

                Du har hittat tillräckligt många plagg, grattis! Du kan starta tvättmaskinen.

                <form action="{{ path('adventure_game_over') }}" method="post">
                    <button type="submit">Starta maskinen</button>
                </form>

                {% endif %}


            {% endif %}

            <img src="{{ asset(room.getImage()) }}" alt="Room map of {{ room.getName() }}">
        </article>
        
        <aside class="center">
            <h3>
                {{ room.getName() }}. 
            </h3>
            <p>
                Gå till:
                <br>
                {% for where, nextRoom in room.getAvailableDoors() %}
                {#<a href="/adventure/game/move/{{ where }}">{{ where}} ({{ nextRoom.getName() }})</a>#}
                <a href="{{ path('adventure_move', {'where': where}) }}">{{ where}} ({{ nextRoom.getName() }})</a>
                <br>
                {% endfor %}
            Saker i rummet:
            </p>
            <ul>
                {% for thing in room.getThings() %}
                    <li>
                        {{ thing.getType() }}, id: {{ thing.getId() }}
                        <form action="{{ path('adventure_collect', {'thingId': thing.getId()}) }}" style="display:inline;" method="post">
                            <button type="submit">Plocka upp</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>

            
            {% for closet in room.getClosets() %}
                <p>
                    Garderob {{ closet.getId() }} 
                    {% if closet.isLocked() %}
                        (låst)
                    {% else %}
                        (öppen)
                    {% endif %}
                </p>
                {% if closet.isLocked() %}
                    {% if player.getPocket() %}
                    <ul>
                        {% for key in player.getPocket() %}
                            <li>
                                Nyckel, id: {{ key.getId() }}
                                <form action="{{ path('adventure_unlock', {'closetId': closet.getId()}) }}" style="display:inline;" method="post" >
                                    <input type="hidden" name="keyId" value="{{ key.getId() }}">
                                    <button type="submit">Använd nyckel</button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>
                        Du har ingen nyckel, fortsätt att leta
                    </p>
                {% endif %}

                {% else %}
                    <p>
                        Innehåll i garderoben:
                    </p>
                    <ul>
                        {% for thing in closet.getThings() %}
                            <li>{{ thing.getType() }} (id: {{ thing.getId() }})
                                <form action="{{ path('adventure_collect', {'thingId': thing.getId(), 'closetId': closet.getId()}) }}" style="display:inline;" method="post">
                                    <button type="submit">Plocka upp</button>
                                </form>
                            </li>
                        {% else %}
                            <li>Garderoben är tom.</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </aside>

        <aside class="right">
            <h3>
                {{ player.getName() }}
            </h3>
            <h5>
                Tvättkorgen:
            </h5>
            {#<ul>
                {% for thing in player.getBasket()%}
                    <li>
                        {{ thing.getType() }}, id: {{ thing.getId() }}
                    </li>
                {% else %}
                <li>
                    Tvättkorgen är tom
                </li>
                {% endfor %}
            </ul>#}
            <p>
                {% if player.getBasket()|length == 0 %}
                    Tvättkorgen är tom
                {% else %}
                    Antal plagg: {{ player.getBasket()|length }}
                {% endif %}
            </p>
            <h5>
                Fickan:
            </h5>
            <ul>
                {% for thing in player.getPocket()%}
                    <li>
                        {{ thing.getType() }}, id: {{ thing.getId() }}
                    </li>
                {% else %}
                    <li>
                        Fickan är tom
                    </li>
                {% endfor %}
            </ul>
        </aside>

    </section>


{% endblock %}
