{% extends "base.html.twig" %}

{% block title %}21{% endblock %}

{% block body %}
<h1>21</h1>

{% if playerPoints == 21 %}
    <h2>DU VANN</h2>
    <h3>
        Grattis, du fick {{playerPoints}} poäng!
    </h3>
{% elseif playerPoints > 21 %}
    <h2>GAME OVER</h2>
    <h3>
        Du förlorade ({{playerPoints}} poäng = du är tjock)
    </h3>
{% elseif bankPoints > 21 %}
    <h2>DU VANN</h2>
    <h3>
        Banken fick {{bankPoints}} poäng och blev tjock
    </h3>
{% elseif (bankPoints >= playerPoints and bankPoints <= 21) %}
    <h2>GAME OVER</h2>
    <h3>
        Du fick {{playerPoints}} poäng. Banken fick {{bankPoints}} poäng. Du förlorade!
    </h3>
{% elseif playerPoints > bankPoints %}
    <h2>DU VANN</h2>
    <h3>
        Du fick {{playerPoints}} poäng. Banken fick {{bankPoints}} poäng
    </h3>
{% endif %}


{#
<p>Du har bettat: {{ playerBet }}</p>
#}


<form action="{{ path('game_21_2_get') }}" method="get">
    <button type="submit">Nytt omgång</button>
</form>

{% endblock %}